body
    font-family Gilroy Medium;

.portfolio
    padding 50px 0 50px 0
    display flex
    flex-direction column
    align-items center
    background #F6F6F6

h2
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 22px;
    text-align: center;
    padding 50px 0 50px 0

.portfolio_items
    display flex
    flex-direction column
    align-items center
    padding 50px 0 50px 0

p.portfolio_text
   
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;

img.portfolio
    display: flex;
    justify-content: center;


