.contacts 

		h2#vita Contacts
			.contacts_items
				.contacts_item
					p.contacts_text1 Want to know more or just chat? 
					p.contacts_text You are welcome!
				.contacts_item
					button Send message
			.contacts_links

				.contacts_link
					img.contacts(src="static/img/content/in.png", alt="LinkedIn")
								
				.contacts_link
					img.contacts(src="static/img/content/instagram.png", alt="Instagram")
																
				.contacts_link
					img.contacts(src="static/img/content/be.png", alt="Behance")

				.contacts_link
					img.contacts(src="static/img/content/ball.png", alt="Dribble")
			p.contacts_text2 Like me on
			p.contacts_text2 LinkedIn, Instagram, Behance, Dribble