.topMenu
    nav 
        a(href="http://localhost:3002") Home 
        a(href="http://localhost:3002") About me 
        a(href="http://localhost:3002") Skills 
        a(href="http://localhost:3002") Portfolio 
        a(href="http://localhost:3002") Contacts 