extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	hr

	.intro
		.intro_items
			.intro_item
				p#name Denis
				P#name Novik
			.intro_item
				p UX | UI designer
				p 24 year old, Minsk
			.intro_item#kek
				p#rotate RU | ENG
	
	.manImg
		img(src="/static/img/content/man.png", alt="Мужик")