extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content

	.portfolio 

		h2 Portfolio

			.portfolio_items

				.portfolio_item
					img(src="static/img/content/girl.png", alt="Online fashion store - Homepage")
					p.portfolio_text Online fashion store - Homepage

				.portfolio_item
					img(src="static/img/content/athlete.png", alt="Reebok Store - Concept")
					p.portfolio_text Reebok Store - Concept

				.portfolio_item
					img(src="static/img/content/camera.png", alt="Braun Landing Page - Concept")
					p.portfolio_text Braun Landing Page - Concept

	.contacts 

		h2 Contacts
			.contacts_items
				.contacts_item
					p.portfolio_text Want to know more or just chat? 
					p.portfolio_text You are welcome!
					img(src="static/img/content/button.png", alt="Send Message")	
						
			.contacts_links

				.contacts_link
					img(src="static/img/content/in.png", alt="LinkedIn")
								
				.contacts_link
					img(src="static/img/content/instagram.png", alt="Instagram")
																
				.contacts_link
					img(src="static/img/content/be.png", alt="Behance")

				.contacts_link
					img(src="static/img/content/ball.png", alt="Dribble")
			p.contacts_text Like me on
			p.contacts_text LinkedIn, Instagram, Behance, Dribble
								