extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content

	.portfolio 

		h2 Portfolio

			.portfolio_items

				.portfolio_item
					img.portfolio(src="static/img/content/girl.png", alt="Online fashion store - Homepage")
					p.portfolio_text Online fashion store - Homepage

				.portfolio_item
					img.portfolio(src="static/img/content/athlete.png", alt="Reebok Store - Concept")
					p.portfolio_text Reebok Store - Concept

				.portfolio_item
					img.portfolio(src="static/img/content/camera.png", alt="Braun Landing Page - Concept")
					p.portfolio_text Braun Landing Page - Concept